# ---- PYTHON ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# ---- VENV ----
venv/
env/
*.env
.env
.env.local
.venv


# ---- DJANGO ----
staticfiles/
media/
db.sqlite3

# ---- NODE / MEDIA OPTIMIZER ----
node_modules/
.media-optimizer-state.json

# ---- EDITOR ----
.vscode/
.idea/

# ---- OS JUNK ----
.DS_Store
Thumbs.db

# ---- VENV ON WINDOWS ----
Scripts/
Lib/
Include/
