{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  <link rel="preload" href="{% static 'fonts/wakaba.woff2' %}" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<main class="home-stage home-rotate" id="homeStage" aria-label="Piffy Studio landing">
  <div class="orbit" id="orbit" aria-hidden="false">

    <a class="blob-link" href="{% url 'portfolio:art' %}" aria-label="create" style="--angle:0deg;">
      <svg class="blob-svg" viewBox="0 0 300 300" data-label="create" data-img="{% static 'img/home/createeye.jpeg' %}">
        <defs>
          <path id="shape-create" class="blob-shape"></path>
          <clipPath id="clip-create" clipPathUnits="userSpaceOnUse">
            <use href="#shape-create" xlink:href="#shape-create"></use>
          </clipPath>
        </defs>

        <image class="blob-img" clip-path="url(#clip-create)"></image>
        <rect class="blob-shade" clip-path="url(#clip-create)" x="0" y="0" width="300" height="300"></rect>
      </svg>
      <span class="blob-label" data-label="CREATE">create</span>
    </a>

    <a class="blob-link" href="{% url 'portfolio:digital' %}" aria-label="build" style="--angle:120deg;">
      <svg class="blob-svg" viewBox="0 0 300 300" data-label="build" data-img="{% static 'img/home/buildcode.jpeg' %}">
        <defs>
          <path id="shape-build" class="blob-shape"></path>
          <clipPath id="clip-build" clipPathUnits="userSpaceOnUse">
            <use href="#shape-build" xlink:href="#shape-build"></use>
          </clipPath>
        </defs>

        <image class="blob-img" clip-path="url(#clip-build)"></image>
        <rect class="blob-shade" clip-path="url(#clip-build)" x="0" y="0" width="300" height="300"></rect>
      </svg>
      <span class="blob-label" data-label="BUILD">build</span>
    </a>

    <a class="blob-link" href="{% url 'portfolio:installations' %}" aria-label="connect" style="--angle:240deg;">
      <svg class="blob-svg" viewBox="0 0 300 300" data-label="connect" data-img="{% static 'img/home/connection.jpeg' %}">
        <defs>
          <path id="shape-connect" class="blob-shape"></path>
          <clipPath id="clip-connect" clipPathUnits="userSpaceOnUse">
            <use href="#shape-connect" xlink:href="#shape-connect"></use>
          </clipPath>
        </defs>

        <image class="blob-img" clip-path="url(#clip-connect)"></image>
        <rect class="blob-shade" clip-path="url(#clip-connect)" x="0" y="0" width="300" height="300"></rect>
      </svg>
      <span class="blob-label" data-label="CONNECT">connect</span>
    </a>

  </div>
</main>
{% endblock %}

{% block extra_scripts %}
  <script type="module" src="{% static 'js/home-main.js' %}"></script>
{% endblock %}
